{{> nav }}

<main>
    <h1>Please select data for document</h1>
    <p>Hold "Ctrl" while selecting falcons to select many</p>
    <p>The created document type depends on office selected</p>
    <form method="post">
        <label for="office">Office</label>
        <select name="officeId" id="office">
            {{#each formData.breedingProjects}}
            <optgroup label="{{this.name}}">
                {{#each this.offices}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
        <label for="falcons">Falcons</label>
        <select name="falconsIds" id="falcons" multiple>
            {{#each formData.pairs}}
            <optgroup label="{{this.name}}">
                {{#each this.children}}
                <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </optgroup>
            {{/each}}
        </select>
        <button type="submit">Generate</button>
    </form>
</main>
